.task {
  /* background-color: aqua; */
  display: flex;
  justify-content: space-around;
  border: solid 1px;
  margin: 0.5rem;
  padding: 0.5rem;
}

.task input {
  font-size: 1rem;
  padding: 0.5rem;
}

.done {
  background-color: red;
  text-decoration-line: line-through;
}

.flag-white {
  color: white;
}

.flag-red {
  color: rgb(255, 0, 0);
}

.flag-yellow {
  color: yellow
}

.flag-green {
  color: green;
}