#root {
  max-width: 1280px;
  margin: auto;
  text-align: center;
  list-style: none;
}


body {
  background-color: rgb(38, 36, 36);
  color: rgb(206, 206, 227);
}


/*button*/ 
.mainList {
  width: 60vw;
}


.edit-input {
  width: 100%; 
}

.placeholderInput {
width: 70%; 
height: 2.5em;
}

.listborder {
  display: flex;
  justify-content: space-between;
  height: 60px; 
  align-items: center; /* 버튼 아이콘을 수직 정렬하기 위해 추가 */
  text-align: right;
  line-height: 50px;
  border: 1px rgb(100, 112, 165) solid; 
}

.listborder button {
  font-size: 20px; /* 버튼 아이콘의 크기를 조정 */
  height:100%; /* 버튼의 높이를 부모 요소에 맞게 설정 */
  padding: 0 10px; 
/* 필요에 따라 버튼의 내부 여백을 조정 */
 opacity: 70%;
 background-color: rgb(38, 36, 36);
}

.ulClass {
  padding-left: 0px;
}

.inputBox {
 padding-top: 5%;
}


.edit-input {
  display: flex;
  justify-content: space-between;
  height: 60px; 
  align-items: center; /* 버튼 아이콘을 수직 정렬하기 위해 추가 */
  line-height: 50px;

}


